body{
    background: url(../imgs/login-beijin.jpg) no-repeat;
    background-position: -50px;
}
.lb-head{
    width: auto;
    height: 50px;
    padding-left: 40px;
    padding-top: 20px;
    background-color: rgba(256, 256, 256, 0.7);
}
.lb-head div{
    width: 230px;
    height: 30px;
    border-right: 2px solid;
}
.lb-head div p{
    font-size: 20px;
    margin: 0;
}
.lb{
    padding-top: 100px;
    height: 800px;
    width: auto;
}
.lb-log-in{
    height: 450px;
    width: 600px;
    background-color: rgba(256, 256, 256, 0.8);
    box-shadow: 0px 5px 20px #d0d0d0;
    margin: auto;
    padding-top: 5px;
    border-radius: 5px;
}
h2{
    text-align: center;
}
.input-box{
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 150px;
    background-color:rgba(256, 256, 256, 0.4);
    border: none;
}
button{
    width: 315px;
    height: 40px;
    margin-top: 20px;
    margin-left: 150px;
    border: 1px;
    border: none;
    border-radius: 5px;
    background-color: rgb(13, 209, 235);
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0px 5px 10px #d0d0d0;
}
label{
    margin: 150px;
}
.zc{
    text-decoration: none;
}
a:link,a:visited{
    color: #000000;
}
a:active{
    color: rgb(50, 156, 255);
}