.lx{
    margin: auto;
    width: 1000px;
    height: 600px;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #d0d0d0;
    overflow-y: scroll;
}
.lx table{
    width: 850px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px #d0d0d0;
}