.bus-haeder a:link,.bus-haeder a:visited{
    color: rgb(0, 0, 0);
}
.bus-haeder a:hover{
    color: rgb(110, 157, 211);
    font-size: 18px;
}
.bus-haeder a:active{
    font-size: 15px;
    color: rgb(50, 156, 255);
}
