.shouye{
    width:auto;
}
.shouye .a{
    margin: auto;
    height: 80px;
    width: 700px;
    border-radius: 20px;
    background-color: rgba(57, 188, 235, 0.247);
    margin-bottom: 20px;
    padding: 20px;
}
.shouye .b{
    float: none;
}
.qy,.ty{
    float: left;
    width: 300px;
    padding: 20px;
    font-size: 30px;
}
.qy span,.ty span{
    color: #00aeec;
}
h2{
    margin-top: 20px;
    margin-left: 40px;
}